.row{
    background-color: linear-gradient(to top, #2b2950,#6662bb);
    color: lavenderblush;
    font-weight: lighter;
    
    
}
footer{
    background: linear-gradient(to top, #2b2950,#6662bb);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}