<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil_2.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <p id="nombre">Natalia Alicia Royo</p>
        <p
        >Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lic. en Biotecnología, Epidemiologa y con un particular gusto por las estadísticas y la tecnología</p>
        </span>
    </div>

</div>