.row{
    padding: 30px;
    background-color: #7d78adca;
}
div{
    text-align: center;
 
}
div p{
    margin-top: 30px;
}
/*etiqueta nombre*/
#nombre{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
}


/*estilo de la foto de perfil*/
@media (min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 70%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 735px;
    }
}


@media(max-width:575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 600px;
    }
}

